body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	display: flex;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#navbar {
	width: 25%;
	border-right: 3px solid gray;
	display: flex;
	flex-direction: column;
}

#navbar a {
	border-top: 1px solid black;
	padding: 1em 0;
}

#main-doc {
	width: 75%;
	padding: 2em;
}

.code {
	display: block;
	width: 100%;
	background-color: lightgray;
}

img {
	width: 20em;
}

@media (max-width: 800px) {
	body {
		flex-wrap: wrap;
	}

	#navbar {
		width: 100%;
		border-right: none;
		border-bottom: 3px solid gray;
		flex-flow: row wrap;
	}

	#navbar header {
		flex: 1 1 100%;
	}

	#navbar a {
		flex: 1 1 25%;
		text-align: center;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	#main-doc {
		width: 100%;
	}
}